textarea{
    width: 98%;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #444;
    padding: 10px;
}

.morecontent span {
    display: none;
}

.comment {
    width: 100%;
    margin: 10px;
}

.main-layout{
    width: 100%;
}